@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    opacity: 0;
  }
}

@font-face {
  font-family: "InterRegular";
  src: url("/fonts/Inter-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBlack";
  src: url("/fonts/Inter-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterMedium";
  src: url("/fonts/Inter-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("/fonts/Inter-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterSemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-display: swap;
}

*,html,body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size:16px;
}


